body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: lightslategrey;
}

h1 {
  font-size: 50px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}

h6 {
  letter-spacing: 0.5px;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.container {
  text-align: center;
}

.btn {
  padding: 30px 50px;
  background-color: white;
  border: none;
  margin: 12px;
  font-size: 30px;
  min-width: 200px;
  border-radius: 12px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  color: lightblue;
  transition: 500ms;
}

.btn:active {
  background-size: 105%;
}